// breaking point

$break-small: 320px;
$break-medium: 768px;
$break-large: 1024px;

// color palette name

$alabaster: #fafafa;
$tundora: #4b4b4b;
$dusty-gray: #969696;
$scarpa-flow: #514f52;
$manatee: #8f8da2;
$denim: #1779ba;
$shamrock: #3adb76;

// functional color

$body-background-color: $alabaster;
$portfolio-background-color: white;

$header-title-color: $tundora;
$header-nav-color: $tundora;
$header-nav-bgcolor: white;
$header-profile-color: $dusty-gray;

$skill-odd-bgcolor: $denim;
$skill-even-bgcolor: $shamrock;

$portfolio-title-color: $tundora;
$portfolio-name-color: $scarpa-flow;
$portfolio-desc-color: $dusty-gray;

$footer-title-color: $tundora;
$footer-paragraph-color: $dusty-gray;
$contact-detail-color: $manatee;
$footer-nav-color: $tundora;

$hr-color: $alabaster;

// font matters

$font-family: 'Roboto Slab', serif;